Projects/GEETHREE/GEETHREE/Service References/MsgServiceReference/MsgService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MsgService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tinycirclews.cloudapp.net/MsgService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tinycirclews.cloudapp.net/MsgService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tinycirclews.cloudapp.net/MsgService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TC_WS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMsgService_postMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:postMessage" />
  </wsdl:message>
  <wsdl:message name="IMsgService_postMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:postMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgService_getMyMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:getMyMessages" />
  </wsdl:message>
  <wsdl:message name="IMsgService_getMyMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMyMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgService_ping_InputMessage">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="IMsgService_ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgService_postToastNotificationAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:postToastNotificationAddress" />
  </wsdl:message>
  <wsdl:message name="IMsgService_postToastNotificationAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:postToastNotificationAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="IMsgService">
    <wsdl:operation name="postMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgService/postMessage" message="tns:IMsgService_postMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgService/postMessageResponse" message="tns:IMsgService_postMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMyMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgService/getMyMessages" message="tns:IMsgService_getMyMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgService/getMyMessagesResponse" message="tns:IMsgService_getMyMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgService/ping" message="tns:IMsgService_ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgService/pingResponse" message="tns:IMsgService_ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="postToastNotificationAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgService/postToastNotificationAddress" message="tns:IMsgService_postToastNotificationAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgService/postToastNotificationAddressResponse" message="tns:IMsgService_postToastNotificationAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMsgService" type="tns:IMsgService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="postMessage">
      <soap:operation soapAction="http://tempuri.org/IMsgService/postMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyMessages">
      <soap:operation soapAction="http://tempuri.org/IMsgService/getMyMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://tempuri.org/IMsgService/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postToastNotificationAddress">
      <soap:operation soapAction="http://tempuri.org/IMsgService/postToastNotificationAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MsgService">
    <wsdl:port name="BasicHttpBinding_IMsgService" binding="tns:BasicHttpBinding_IMsgService">
      <soap:address location="http://tinycirclews.cloudapp.net/MsgService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>