Projects/GEETHREE/GEETHREE/Service References/MsgServiceReference/MsgService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TC_WS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TC_WS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWireMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WireMessage" nillable="true" type="tns:WireMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWireMessage" nillable="true" type="tns:ArrayOfWireMessage" />
  <xs:complexType name="WireMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="msgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recipientUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="senderUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WireMessage" nillable="true" type="tns:WireMessage" />
  <xs:complexType name="ArrayOfWireHandShake">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WireHandShake" nillable="true" type="tns:WireHandShake" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWireHandShake" nillable="true" type="tns:ArrayOfWireHandShake" />
  <xs:complexType name="WireHandShake">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WireHandShake" nillable="true" type="tns:WireHandShake" />
</xs:schema>