Projects/WS_TestApp/WS_TestApp/Service References/msgServiceReference/MsgService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3326/MsgService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TC_WS" />
  <xs:element name="postMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiverId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="postMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiverId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TC_WS" minOccurs="0" name="getMyMessagesResult" nillable="true" type="q1:ArrayOfWireMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>